* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body 
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* min-height: 100vh; */
    background-color: #f5f5f5;
    /* padding: 20px; */
}
.container 
{
    display: flex;
    /* gap: 20px; */
    width: 100%;
    height: 100%;
    /* max-width: 1200px; */
}
.left-panel 
{
    flex: 1;
    background-color: lavender;
    width: 100%;
    /* padding: 15px;
    border-radius: 10px; */
}
.left-panel h3 
{
    margin-bottom: 10px;
}
.left-panel ul 
{
    list-style: none;
}
.left-panel ul li 
{
    margin: 5px 0;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
.left-panel ul li.active 
{
    background-color: #ddd;
    font-weight: bold;
}
.quiz-container 
{
    flex: 2;
}
.heading
{
    text-align: center;
}
.card 
{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}
.card-head h2 
{
    margin-bottom: 15px;
}
.card-body ul 
{
    list-style: none;
}
.card-body ul li 
{
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.card-body ul li.selected 
{
    background-color: #cce5ff;
    border-color: #339af0;
}
.card-footer 
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.card-footer button 
{
    padding: 10px 20px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    border-radius: 5px;
    background-color: #008cff;
}
.card-footer button:hover 
{    
    background-color: #008cff94;
}
.right-panel 
{
    flex: 1;
    background-color: lavender;
    width: 100%;
    /* padding: 15px;
    border-radius: 10px; */
    text-align: center;
}
#timer 
{
    font-size: 2em;
    margin: 20px 0;
}
#submit-btn 
{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
}
#submit-btn:hover 
{
    background-color: rgba(0, 128, 0, 0.618);
}
